@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">.NET Study Guide</h1>
    <p>Learn about core concepts for Microsoft's free, cross-platform, open-source development platform.</p>
</div>
